.e-l-200 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}

.l-300 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
}

.r-400 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
}

.s-b-600 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
}
