html {
  scroll-behavior: smooth;
}

body {
  background: #c7e9b0;
  max-width: 1300px;
  box-sizing: border-box;
}

.header-menu {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 400px;
  image-rendering: optimizeQuality;
  border-radius: 6px;
  filter: grayscale(1);
}

img:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.btn-bg {
  background: linear-gradient(#ddffbb, #c7e9b0, #b3c99c, #a4bc92);
  height: 50px;
  width: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 15px;
  left: 15px;
  transition: 0.15s;
}

.btn img {
  width: 50px;
}
