body {
  background: #c7e9b0;
  max-width: 1300px;
  box-sizing: border-box;
}

.header-menu {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 400px;
  image-rendering: optimizeQuality;
  border-radius: 6px;
  filter: grayscale(1);
}

img:hover {
  filter: grayscale(0);
  transition: 0.5s;
}
